<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Peluditos"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AdminPacienteNuevoActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".AdminPacienteEditarActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".prueba_firebase"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".Login_Peluditos"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".admin_home"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".ClienteMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".NuevoPacienteClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".NuevaCitaClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".ListadoPacientesClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".DetallePacienteClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".PerfilClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".AdminUsuarioNuevo"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".AdminUsuarioClienteListadoActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".AdminUsuarioEditar"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".AdminUsuarioListadoActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".AdminPerfil"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".AdminPacienteListadoActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".admin_cita_nueva"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".admin_cita_editar"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".admin_historial_medico_nuevo"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".admin_historial_medico"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".admin_paciente_detalle"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".admin_cita_listado"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <activity
            android:name=".RegistrarActivity"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />


        <!-- Actividad correcta para Google Maps -->
        <activity
            android:name=".maps_google"
            android:exported="false"
            android:theme="@style/Theme.Peluditos" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- API KEY DE GOOGLE MAPS-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsH4KZlxtN9dYYehbYp2sxkcC_mkhezDk"/>

    </application>

</manifest>
